<header class="site-header">
    <div class="wrapper">
        <ul>
            <li><a href="/">Posts</a></li>
            <li><a href="/photos/">Photos</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/software/">Software</a></li>
            <li><a href="/more/">More</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/archive/">Archive</a></li>
      	    <li><a href="/subscribe/">Subscribe</a></li>
        </ul>
    </div>
</header>
