{% include "common.lua" %}
{% function content() %}
    <div class="post">
        {% include "post_header.html" %}
        <article class="post-content">
            <h1>Description</h1>
            {% renderDocumentHTML(document) %}
            <div class="recipe">
                <div>
		  {% if document.ingredients ~= nil then %}
                  <h1>Ingredients</h1>
                    <ul>

                        {% for _, ingredient in ipairs(document.ingredients) do %}
                            <li>{{ ingredient }}</li>
                        {% end %}
                    </ul>
                </div>
		{% end %}
		{% if document.method ~= nil then %}
                <div>
                    <h1>Method</h1>
                    <ol>
                        {% for _, step in ipairs(document.method) do %}
                            <li>{{ step }}</li>
                        {% end %}
                    </ol>
                </div>
		{% end %}
            </div>
        </article>
    </div>
{% end %}
{% include "default.html" %}
