body {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

a {
    color: black;
}

h1 {
    color: lightblue;
}

ul, ol {
    line-height: 1.5em;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li::after {
    content: " "
}

nav ul li:last-child::after {
    content: "";
}

.content {
    margin: 2em 4em;
}

.container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.suggestion {
    font-size: 100px;
    text-align: center;
}

.recipe {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
}

@media (max-width: 800px) {
    .recipe {
        grid-template-columns: 1fr;
    }
}
